<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" name="description" content="교복 주관 구매 자동화 사이트입니다.">
        <title>교복주관구매 자동화 사이트</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <style>
        body {
            padding-top: 70px
        }
    </style>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="#">교복주관구매자동화</a>
                    <button class="navbar-toggler" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#navbar-content">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-content">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="#">이 사이트를 만든 이유</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">학생/학부모 키 확인</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">교복업체 교복수령 등록</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">학교 업무 담당자 매뉴</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <!--버튼 형식으로 링크를 걸자-->
            <div class="container-sm">
                <div class="row" >
                    <a href="#" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">학생 학부모 클릭</a>
                    <p></p>
                    <a href="#" class="btn btn-success btn-lg " tabindex="-1" role="button" aria-disabled="true">교복 업체 클릭</a>
                    <p></p>
                    <a href="#" class="btn btn-secondary btn-lg " tabindex="-1" role="button" aria-disabled="true">학교 업무 담당자 클릭</a>
                    <p></p>
                    <a href="#" class="btn btn-info btn-lg " tabindex="-1" role="button" aria-disabled="true">교육청 담당자 클릭</a>
                </div>
            </div>

        </main>

        <h1>여기에 H1 내용을 넣습니다</h1>
        <h2>h2는 div 태그와 함께</h2>
        <img src="logocharictor.jpg" alt="교육청로고">
        여기서 타이핑 하면 나와? <a href="https://naver.com">네이버로 가는 링크</a>인데 어떻게 나올라나
        <a href="https://sje.go.kr">
            <img src="sejong.jpg">
        </a>
        <ul>
            <li>리스트 시험</li>
            <li>리스트 시험2</li>
            <li>"ul"테그 써서 리스트 시험중</li>
        </ul>
        <select name="무얼골라볼까">
            <option value="첫번째선택">A라고 써봄</option>
            <option value="밸루값이 두번째">B라고 써봄</option>
            <option value="밸류값 세번째">세번째 밸류값</option>
        </select>
        <textarea name="텍스트에어리어는 네임값을 갖는다" placeholder="뭐라고 나오는지 placeholder에 써봤다"></textarea>
        <section>
            <h2>섹션 테스트</h2>
            <ul>
                <li><a href="#">섹션테스트1</a></li>
                <li><a href="#">섹션테스트 뭐가 좋을까</a></li>
            </ul>
        </section>
        <aside>
            <h3>어사이드 써본다</h3>
            <ul>
                <li><a href="#">어사이드 메뉴1</a></li>
                <li><a href="#">어사이드 메뉴2</a></li>
                <li><a href="#">어사이드 메뉴3</a></li>
                <li><a href="#">어사이드 메뉴4</a></li>
            </ul>
        </aside>
        <footer>
            <h3>여기는 푸터가 들어가는 곳</h3>
            <p>Copyright 2022 ITH</p>
        </footer>
<!--부트스트랩 스크립트 body 태그 닫히기 전에 넣었음-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"></script>
    </body>
</html>